<main>
    <div class="container-fluid main-content">
        <div class="jumbotron center-div">
            <?php echo $viewHelper = new \ViewHelper\pageViews($page); ?>
        </div>
    </div>
</main>