<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../bootstrap/dist/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../customCss/styles.css" type="text/css">
    <script src="../js/jquery-2.2.0.min.js"></script>
    <script src="../js/handlebars-latest.js"></script>
    <script src="../../bootstrap/js/collapse.js"></script>
    <script src="../../bootstrap/dist/bootstrap.js"></script>
</head>
<!--bootstrap-->
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid top-navigation-menu">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">R + M's WedSite</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">When + Where<span class="sr-only">(current)</span></a></li>
                <li><a href="/where-to-stay">Where To Stay</a></li>
                <li><a href="/what-to-bring">What To Bring</a></li>
                <li><a href="/RSVP">RSVP</a></li>
                <li><a href="/directions-and-contact">Directions + Contact</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    <!--<div class="wedsite-banner img-responsive">-->
    <!--</div>-->
</nav>
