* {
    box-sizing: border-box;
    background-color: #5396C2;
}

body {
    height: auto;
    background-color: #ffffff;
}

main {
    background-color: #ffffff;
}
.navbar .top-navigation-menu ul li a{
    color: #ffffff;
    background-color: #5396C2;
}

body .navbar .navbar-header .navbar-brand {
    color: #ffffff;
}

.main-content {
    background-color: inherit;
}
.center-div {
    height: 80%;
    width: 80%;
    margin: 5% 10% 5% 10%;
    background-color: #ffffff;
    border: 1px solid black;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
    background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #000000;
    background-color: #ffffff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
.navbar-default .navbar-toggle .icon-bar {
    background-color: #5396C2;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #ffffff;
}

/*.wedsite-banner {*/
    /*width: 600px;*/
    /*height: 100px;*/
    /*!*-webkit-background-size: 20px;*!*/
    /*!*-moz-background-size: 20px;*!*/
    /*!*-o-background-size: 20px;*!*/
    /*background-size: contain;*/
    /*background: url(../media/WedSiteBanner.png);*/
    /*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../media/WedSiteBanner.png',     sizingMethod='scale');*/
    /*-ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../media/WedSiteBanner.png', sizingMethod='scale');*/
/*}*/